/* Customize CSS from pico.css */

/*********************/
/* Forms css         */
/*********************/

[role=button] {
    padding: 0.1rem 0.5rem;
}

button[type="submit"] {
    padding: 0.1rem 0.5rem;
    width: fit-content;
}

.flex {
    display: flex;
    align-items: center;
    gap: 1rem;

    label {
        width: 12rem;
    }
}

.empty {
    font-size: 1rem;
    color: gray;
    margin: 1rem 0;
}

/* Ensure footer stay at botom on small pages */

body {
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex: 1;
    }
}

/******************/
/* Statistics CSS */
/******************/

.error {
    color: lightcoral;
    margin: 0.5rem 0;
}

.rubrique {
    display: inline-block;
    width: 15rem;
    color: blanchedalmond;
    font-size: 1rem;
}

.valeur {
    color: white;
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-size: 1rem;
}
